
<%= "#{@game.current_turn.name} vs #{@game.next_turn.name}"%>

<form action="/wrecked" method="get">
  <input type="submit" value="Attack!">
</form>

<form action="/healed" method="get">
  <input type="submit" value="Heal!">
</form>

<form action="/sleep" method="get">
  <input type="submit" value="Sleep!">
</form>
