<% if @game.current_turn.health <= 0 %>
  <%= "#{@game.current_turn.name} died!" %>
<p>
  <form action="/" method="get">
    <input type="submit" value="Play again?">
  </form>
  </div>

  <% else %>
  <%= "#{@game.current_turn.name} was attacked!" %>

  <%= "#{@game.current_turn.name}: #{@game.current_turn.health} HP" %>

  <form action="/play" method="get">
    <input type="submit" value="Switch turns">
  </form>
<% end %>
